button {
    width: 10em;
    border: none;
    padding: 1em;
    cursor: pointer;
    color: #f2f2f2;
    font-weight: bold;
    align-self: center;
    border-radius: 20px;
    transform: scale(0.95);
    transition-duration: 0.2s;
    background-color: #ed3237;
    transition-timing-function: linear;
}

button:hover {
    transform: scale(1);
}