.container {
    width: 15em;
    padding: 1em;
    display: flex;
    margin-top: 2em;
    cursor: pointer;
    align-self: center;
    border-radius: 20px;
    text-decoration: none;
    transform: scale(0.95);
    flex-direction: column;
    transition-duration: 0.2s;
    background-color: #1e293b;
    transition-timing-function: linear;
}

.container:hover {
    transform: scale(1);
    box-shadow: #00DC82 0px 4px 20px 5px;
}

.container>.title {
    font-size: 1em;
    font-weight: bold;
}

.container>.description {
    color: #f2f2f2;
    margin-top: 0.5em;
    font-weight: normal;
}